<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy & Policy</title>
    <!-- js css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    body{
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px;
    }
</style>
<body>

    <!-- this folder is empty -->
    <div class="conainer-fluid">
        <div class="row">
            <div class="col-sm-6 offset-3 p-3">
                <img class="mt-2" src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yg/r/6EMh2DWYp9P.png" alt="">
                <h4 class="mt-2 fw-bold">Privacy Policy</h4>
                <p>We updated our Privacy Policy on 26 June 2024. read our previous policy</p>
                <h6 class="fw-bold">Explore the policy</h6>
                <li>You can't login if you Forgotten your password</li>
                <li>first create a new account (sign up) then go to profile To see your name in profile </li>
                <li>if you click on each item in the main layout they will redirect you in to another page</li>
                <li>if you want to see your password then go to user page their you can see your name email and password</li>
                <li>you can't set password less then 8 charecter</li>
                <li>with empty field if you click on the login button their they show you altert message for attempting the required field</li>
                <!-- <li class="fw-bold">Design By: Naveed Rashid -->
                <p class="fw-bold mt-5 text-center">
                    "with my little knowledge i came to know the biology of website that they demand only one thing that i'm not completly yet, their is still missing something inside me"
                </p>
            </div>
        </div>
    </div>


    <!-- go to main Layout page  -->
    <script src="../assets/javascript/signupPage.js"></script>
    <!-- js script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>