<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>somewent wrong</title>
</head>
<style>
    body{
        margin: 0px;
        padding: 0px;
        text-transform: capitalize;
        
    }
 
    #wrapper, h3{
            margin-top: 300px;
            margin-left: 250px;
            margin-right: auto;
 }
</style>
<body>
    <div id="wrapper">
        <h3>currently we are working on this page :)</h3>
    </div>
</body>
</html>